*{
	font: 1em Roboto;
}
body,
html {
	margin: 0;
	padding: 0;
	font: 1em Roboto;
}
.navbar {
	width: 100%;
	height: 70px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
}

.navbar_content {
	width: 85%;
	margin: 0 auto;
}

/* 导航栏图标的div */
.navbar .logo {
	float: right;
	height: 50px;
	padding: 10px 0px;
}

/* 图标div中的图片 */
.navbar .logo img {
	width: auto;
	height: 100%;
}

/* 这里的宽度应该是ul占div的宽度，但是是否是div中除去图片以后的宽度呢？ */
.navbar .menu {
	width: 100%;
}

/* 对内部所有ul的设置 */
.navbar .menu,
.navbar .menu ul {
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
}

/* 对所有链接的设置 */
.navbar .menu li a,
.navbar .menu ul li a {
	text-decoration: none;
	color: #fff;
}

/* 对内部所有li的设置 */
.navbar .menu li {
	/* 以行内块元素的形式展现，否则不成行 */
	display: inline-block;
	padding: 25px 0;
	transition: 0.3s;
}

/* 设置点击链接后的背景颜色 */
.navbar .menu li:hover {
	background: #444;
}

/* 设置块间距 */
.navbar .menu li a {
	padding: 20px;
}

/* 隐藏下拉栏 */
.navbar .menu ul {
	display: none;
	margin-top: 25px;
}

/* 下拉栏中的元素变为块元素，因为继承了上面的行内块元素，这里要变回去 */
.navbar .menu ul li {
	padding: 15px 0px;
	display: block;
	background: #000;
}

.navbar .menu ul li:hover {
	background: #333;
}


.navbar .menu li:hover ul {
	display: block;
}

/* 对字体的样式进行修饰 */
.fas {
	padding-left: 8px;
}

#activities-header{
	height: 65vh;
	background-color: rgba(0,0,0,0.5);
}
#main-title {
	font-weight: 100;
	font-size: 60px;
	text-shadow: 10px 5px 10px black;
}

#sub-title {
	font-family: Nunito;
	font-size: 25px;
	letter-spacing: 3px;
	word-spacing: 5px;
	margin: 10px 0 20px 0;
	text-shadow: 5px 5px 10px black;
}

#main-title span {
	font-weight: 700;
}
.header-title{
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	height: 300px;
	font-family: Roboto;
	color: white;
	top: 32%;
	left: 28%;
	transform: (50%, 50%);
}
.lower_navbar{
	width: 100%;
	height: 70px;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
}
/*////////////////Tabs///////////////////*/
h1 {
  color: #333;
  font-family: arial, sans-serif;
  margin: 1em auto;
  width: 85%;
}
.tabordion-sec{
	position: absolute;
}
.tabordion-img{
	width: 80%;
	height:400px
}
.tabordion h1{
	font-family: Roboto;
	font-weight: 300;
	font-size: 30px;
	padding: 10px 0;
	margin: 0;
	width: 100%;
}
.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  height: 100vh;
  position: relative;
  width: 85%;
}

.tabordion input[name="sections"] {
  position: absolute;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  background: #ccc;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion section article {
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
}

.tabordion section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
}

.tabordion input[name="sections"]:checked + label { 
  background: #eee;
  color: #999;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}
a{
  text-decoration: none;
  color: darkorange;
}
a:hover{
  text-decoration: overline;
}


.footer {
	background: #112233;
}

.footer-content {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}

.footer-refs-content-1 h5,
.footer-refs-content-2 h5,
.footer-refs-content-3 h5 {
	font-family: Roboto;
	font-weight: 100;
	font-size: 23px;
	color: whitesmoke;
}

.footer-refs-content-1 h5 b,
.footer-refs-content-2 h5 b,
.footer-refs-content-3 h5 b {
	font-weight: 700;
}

.footer-refs-content-1 ul,
.footer-refs-content-2 ul,
.footer-refs-content-3 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-refs-content-1 ul li a,
.footer-refs-content-2 ul li a,
.footer-refs-content-3 ul li a {
	color: whitesmoke;
	font-size: 15px;
	text-decoration: none;
	line-height: 20px;
	transition: 0.4s;
}

.footer-refs-content-1 ul li a:hover,
.footer-refs-content-2 ul li a:hover,
.footer-refs-content-3 ul li a:hover {
	color: #42b3f4;
	padding-left: 10px;
}

.footer-content {
	display: flex;
}

.footer-refs-content-1 {
	width: 43%;
}

.footer-refs-content-2 {
	width: 33%;
}

.footer-refs-content-3 {
	width: 24%;
}

.footer-refs-content-1 h5,
.footer-refs-content-2 h5,
.footer-refs-content-3 h5 {
	padding-bottom: 10px;
	margin-right: 100px;
	border-bottom: 2px solid #fff;
}

.lower-footer {
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 13px;
	font-family: Roboto;
	font-weight: 300;
	background: #112220;
}

.lower-footer-content {
	width: 90%;
	margin: 0 auto;
	padding: 5px 0;
	display: flex;
}

#footer-align-left {
	width: 85%;
	padding: 13px 0;
}

#footer-align-right {
	text-align: right;
	width: 15%;
	padding: 0;
}

#footer-align-right a {
	padding: 0 4px;
	color: #fff;
	transition: 0.3s;
}

#footer-align-right a:hover {
	color: #43b9e0;
}